# Binaries
flatex-pdf-cli
flatex-pdf-cli-test
*.o
*.a
*.so

# macOS
.DS_Store

# Output files
*.json
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
*.test
*.out

# Go
/vendor/

sensitive_test_docs/